html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

.container-fluid {
  padding: 20px;
}

.button-bar {
  margin-top: 15px;
  float: right;

  div {
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}