@import "./variables.scss";
@import "./header.scss";
@import "./home.scss";

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

.container-fluid {
  padding: 20px;
}

#content {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}